//Navigation
        ul
	{
	    list-style-type: none;
        }
        .NB {
        	top: 0;
		position: fixed;
		width: 100%;
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		}

	.leftNO {
		float: left;
		}

	.NO {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		}

	.NO:hover:not(.active) {
		background-color: #111;
		}

	.active {
	//	background-color: #4CAF50;
	//	background-color: #5283A5;
		background-color: #CC00FF;
		}
//Navigation
